body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 
}

.moab {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: block;
    align-items: left;
    justify-content: left;
}
.moab::before {
  content: "";
      background-image: url('https://www.nationalparks.org/sites/default/files/shutterstock_176085914.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.60;
}
header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  padding: 30px;
  display: block;
  position: relative;
  color:black;  
  line-height: 0.9;
  text-align: center;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  padding: 30px;
  display: block;
  position: relative;
  color:black;  
  line-height: 0.9;
  text-align: left;
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  padding: 10px;
  display: block;
  position: relative;
  color:black;  
  line-height: 0.9;
  text-align: left;
}

h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  padding: 20px;
  display: block;
  position: relative;
  color:black;  
  line-height: 0.9;
  text-align: left;
}
.button {
  background-color: purple;
  border: black;
  margin: 50px;
  padding: 50px;
  font-size: 20px;
  border-radius: 50%;

}

footer{
  background-image: url('https://www.logolynx.com/images/logolynx/15/156ec75244f1ec8d3693d0ab385d32ad.gif');
  background-size: 20px 20px 20px 20px;
  
}