body{
  background-image: url('https://www.nationalparks.org/sites/default/files/shutterstock_176085914.jpg');
  background-size: cover;
 
}

header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  display: flex;
  /* width: 500px;
  height: 200px; */

}

h1{
  font-size: 20px;
}

footer{
  background-image: url('https://www.logolynx.com/images/logolynx/15/156ec75244f1ec8d3693d0ab385d32ad.gif');
  background-size: 20px 20px 20px 20px;
  
}